<table class="table table-bordered table-striped">
  <tr class="centre">
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Action</th>    
  </tr>
  <% @listings.each do |listing| %>    
  <tr>
    <td><%= image_tag listing.image.url(:thumb) %></td>
    <td><%="#{listing.user.first_name} #{listing.user.last_name}"%></td>
    <td><%= listing.description %></td>
    <td><%= number_to_currency(listing.price, :locale => :ir) %></td>
    <td>
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
      <div class="dropdown-menu centre">
        <%= link_to "View", listing, class:"centre" %><br/>
        <%= link_to "Edit", edit_listing_path(listing), class:"centre" %><br/>
        <%= link_to "Destroy", listing, class:"centre", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </td>
  </tr>
  <% end %>
</table>


<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>
