<div class="centre"><h2>Your Purchase History</h2></div>
<table class="table table-bordered table-striped">
  <tr class="centre">
    <th>Image</th>
    <th>Item</th>
    <th>Price</th>
    <th>Seller</th>
    <th>Date Purchased</th>    
  </tr>
  <% @orders.each do |order| %>    
	  <tr class="centre">
	    <td><%= image_tag order.listing.image.url(:thumb) %></td>
	    <td><%= order.listing.name %></td>
	    <td><%= number_to_currency(order.listing.price) %></td>
	    <td><%= order.seller.name %></td>
	    <td><%= order.created_at.strftime("%d, %B, %Y")%></td>
	  </tr>
  <% end %>
</table>

<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>
