<%= form_with(model: checkout, local: true) do |form| %>
  <% if checkout.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>     
      <h2><%= pluralize(checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>

      <ul>
      <% checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :street %>
    <%= form.text_field :street, id: :checkout_street, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :town %>
    <%= form.text_field :town, id: :checkout_town, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :county %>
    <%= form.text_field :county, id: :checkout_county, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :country %>
    <%= form.text_field :country, id: :checkout_country, class:'form-control' %>
  </div>
		
		<%= form_tag new_checkout_path do %>
		  <article>
		    <label class="amount">
		      <span>Order Amount: <%= number_to_currency(current_order.subtotal, :locale => :ir) %></span>
		    </label>
		  </article>
		
		  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
		    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		    data-description="Total Payment"
		    data-amount="@amount">
		  </script>
		  
		<% end %>  <br/>
		
  <div class="actions">
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>


