<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @checkout.street %>
</p>

<p>
  <strong>Town:</strong>
  <%= @checkout.town %>
</p>

<p>
  <strong>County:</strong>
  <%= @checkout.county %>
</p>

<p>
  <strong>Country:</strong>
  <%= @checkout.country %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
