<div class="centre"><h2>Your Sales History</h2></div>
<table class="table table-bordered table-striped">
  <tr class="centre">
    <th>Image</th>
    <th>Item</th>
    <th>Price</th>
    <th>Customer</th>
    <th>Date Purchased</th>    
  </tr>
  <% @orders.each do |order| %>    
	  <tr class="centre">
	    <td><%= image_tag order.listing_id.image.url(:thumb) %></td>
	    <td><%= order.listing.name %></td>
	    <td><%= number_to_currency(order.listing.price) %></td>
	    <td><%= order.buyer.name %></td>
	    <td><%= order.created_at.strftime("%d, %B, %Y")%></td>
	  </tr>
  <% end %>
</table>

